

trigger: none

pool:
  vmImage: ubuntu-latest

steps:
- script: |
    ls -lhtr

    cp -R variables $(Build.ArtifactStagingDirectory)
  displayName: 'Setup Variables'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'